.search-bar {
  color: #666;
  height: 40px;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  border-right: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border;
}

.search-bar:focus {
  outline: 0 none;
}

.search-not-found {
  text-align: center;
}
